%YAML 1.2
---

directories:
- Annotations/
- Configs/
- Logs/
- Logs/CondorLogs/
- Logs/RoutFiles/
- Persistence/
- Plots/
- QC/
- Results/
- RawData/
- Scripts/
- Scripts/R/
- Scripts/Shell/
- Temp/

files:
- { from : files/illumina_450k/Makefile, to : 'Makefile' }
- { from : files/illumina_450k/Readme.md, to : 'Readme.md' }
- { from : files/illumina_450k/RProfile, to : '.Rprofile' }
- { from : files/illumina_450k/Scripts/preprocessing.R, to : 'Scripts/preprocessing.R' }
- { from : files/illumina_450k/Scripts/loading.R, to : 'Scripts/loading.R' }
- { from : files/illumina_450k/Scripts/config.R, to : 'Scripts/config.R' }
- { from : files/illumina_450k/Scripts/bmiq.R, to : 'Scripts/bmiq.R' }
- { from : files/illumina_450k/Scripts/combat.R, to : 'Scripts/combat.R' }
- { from : files/illumina_450k/Configs/bmiq.yaml, to : 'Configs/bmiq.yaml' }
- { from : files/illumina_450k/Configs/normalization.yaml, to : 'Configs/normalization.yaml' }
- { from : files/illumina_450k/Configs/phenotype_info.yaml, to : 'Configs/phenotype_info.yaml' }
- { from : files/illumina_450k/Configs/probe_filtering.yaml, to : 'Configs/probe_filtering.yaml' }
- { from : files/illumina_450k/Configs/sample_filtering.yaml, to : 'Configs/sample_filtering.yaml' }
