%YAML 1.2
---

empty_dirs:
- Annotations/
- Logs/
- Logs/CondorLogs/
- Logs/RoutFiles/
- Persistence/
- Plots/
- QC/
- Results/
- RawData/
- Temp/

file_dirs:
- { from : illumina_450k/Scripts, to : 'Scripts' }
- { from : illumina_450k/Core_Package, to : 'Scripts/Core_Package' }
- { from : illumina_450k/Configs, to : 'Configs' }

files:
- { from : illumina_450k/Makefile, to : 'Makefile' }
- { from : illumina_450k/Readme.md, to : 'Readme.md' }
- { from : illumina_450k/RProfile, to : '.Rprofile' }
- { from : illumina_450k/report.Rmd, to : 'report.Rmd'}
