%YAML 1.2
---

directories:
- Annotations/
- Configs/
- Logs/
- Logs/CondorLogs/
- Logs/RoutFiles/
- Persistence/
- Plots/
- QC/
- Results/
- RawData/
- Scripts/
- Scripts/R/
- Scripts/Shell/
- Temp/

files:
- { from : files/illumina_450k/Makefile, to : 'Makefile' }
- { from : files/illumina_450k/Readme.md, to : 'Readme.md' }
- { from : files/illumina_450k/Scripts/load_data.R, to : 'Scripts/load_data.R' }
