%YAML 1.2
---

directories:
- Annotations/
- Configs/
- Logs/
- Logs/CondorLogs/
- Logs/RoutFiles/
- Persistence/
- Plots/
- QC/
- Results/
- RawData/
- Scripts/
- Scripts/R/
- Scripts/Shell/
- Temp/

files:
- { from : files/empty-makefile, to : 'Makefile' }
- { from : files/empty-readme.md, to : 'Readme.md' }
